USE [master]
GO
/****** Object:  Database [MiMundoHuellitas]    Script Date: 12/16/2025 6:59:24 PM ******/
CREATE DATABASE [MiMundoHuellitas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiMundoHuellitas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MiMundoHuellitas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiMundoHuellitas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MiMundoHuellitas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiMundoHuellitas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiMundoHuellitas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Canton_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Canton_TB](
	[IdCanton] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[NombreCanton] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_MH_Canton] PRIMARY KEY CLUSTERED 
(
	[IdCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Cita_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Cita_TB](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[FechaHoraCita] [datetime2](0) NOT NULL,
	[NotasCliente] [nvarchar](300) NULL,
	[NotasInternas] [nvarchar](300) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaActualiza] [datetime2](0) NULL,
 CONSTRAINT [PK_MH_Cita] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_DetalleFactura_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_DetalleFactura_TB](
	[IdDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[IdServicio] [int] NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_MH_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[IdDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Direccion_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Direccion_TB](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IdDistrito] [int] NOT NULL,
	[Detalle] [nvarchar](250) NOT NULL,
	[CodigoPostal] [nvarchar](10) NULL,
 CONSTRAINT [PK_MH_Direccion] PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Distrito_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Distrito_TB](
	[IdDistrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCanton] [int] NOT NULL,
	[NombreDistrito] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_MH_Distrito] PRIMARY KEY CLUSTERED 
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Especie_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Especie_TB](
	[IdEspecie] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecie] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MH_Especie] PRIMARY KEY CLUSTERED 
(
	[IdEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Estado_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Estado_TB](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
	[TipoEntidad] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Estado] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Factura_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Factura_TB](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaFactura] [datetime2](0) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[MetodoPago] [nvarchar](40) NULL,
	[NumeroReferencia] [nvarchar](80) NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[Observaciones] [nvarchar](250) NULL,
 CONSTRAINT [PK_MH_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Mascotas_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Mascotas_TB](
	[IdMascota] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEspecie] [int] NOT NULL,
	[IdRaza] [int] NULL,
	[NombreMascota] [nvarchar](80) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Observaciones] [nvarchar](250) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Mascotas] PRIMARY KEY CLUSTERED 
(
	[IdMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Productos_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Productos_TB](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NULL,
	[NombreProducto] [nvarchar](120) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[Categoria] [nvarchar](80) NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[IdEstado] [int] NULL,
	[ImagenUrl] [nvarchar](250) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Proveedor_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Proveedor_TB](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [nvarchar](120) NOT NULL,
	[Telefono] [nvarchar](25) NULL,
	[Correo] [nvarchar](120) NULL,
	[Observaciones] [nvarchar](250) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Proveedor] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Provincia_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Provincia_TB](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[NombreProvincia] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_MH_Provincia] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Raza_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Raza_TB](
	[IdRaza] [int] IDENTITY(1,1) NOT NULL,
	[IdEspecie] [int] NOT NULL,
	[NombreRaza] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_MH_Raza] PRIMARY KEY CLUSTERED 
(
	[IdRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Servicios_Cita_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Servicios_Cita_TB](
	[IdServicioCita] [int] IDENTITY(1,1) NOT NULL,
	[IdCita] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_MH_Servicios_Cita] PRIMARY KEY CLUSTERED 
(
	[IdServicioCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Servicios_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Servicios_TB](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[Categoria] [nvarchar](80) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[DuracionMin] [int] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Servicios] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Tipo_Usuario_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Tipo_Usuario_TB](
	[IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoUsuario] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Tipo_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MH_Usuario_TB]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MH_Usuario_TB](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
	[IdDireccion] [int] NULL,
	[NombreCompleto] [nvarchar](120) NOT NULL,
	[Correo] [nvarchar](120) NOT NULL,
	[ContrasennaHash] [nvarchar](250) NOT NULL,
	[Telefono] [nvarchar](25) NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MH_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/16/2025 6:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[ContrasenaHash] [nvarchar](200) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MH_Canton_TB] ON 

INSERT [dbo].[MH_Canton_TB] ([IdCanton], [IdProvincia], [NombreCanton]) VALUES (1, 1, N'San José')
INSERT [dbo].[MH_Canton_TB] ([IdCanton], [IdProvincia], [NombreCanton]) VALUES (2, 1, N'Escazú')
INSERT [dbo].[MH_Canton_TB] ([IdCanton], [IdProvincia], [NombreCanton]) VALUES (3, 1, N'Desamparados')
SET IDENTITY_INSERT [dbo].[MH_Canton_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Cita_TB] ON 

INSERT [dbo].[MH_Cita_TB] ([IdCita], [IdUsuario], [IdMascota], [IdEstado], [FechaHoraCita], [NotasCliente], [NotasInternas], [FechaCreacion], [FechaActualiza]) VALUES (1, 2, 1, 1, CAST(N'2025-12-24T10:30:00.0000000' AS DateTime2), N'Con shampoo antialergias', NULL, CAST(N'2025-11-18T13:25:36.0000000' AS DateTime2), CAST(N'2025-12-16T18:52:39.0000000' AS DateTime2))
INSERT [dbo].[MH_Cita_TB] ([IdCita], [IdUsuario], [IdMascota], [IdEstado], [FechaHoraCita], [NotasCliente], [NotasInternas], [FechaCreacion], [FechaActualiza]) VALUES (2, 2, 1, 3, CAST(N'2025-11-18T08:00:00.0000000' AS DateTime2), N'Alergica', NULL, CAST(N'2025-11-18T14:05:50.0000000' AS DateTime2), CAST(N'2025-11-18T14:19:55.0000000' AS DateTime2))
INSERT [dbo].[MH_Cita_TB] ([IdCita], [IdUsuario], [IdMascota], [IdEstado], [FechaHoraCita], [NotasCliente], [NotasInternas], [FechaCreacion], [FechaActualiza]) VALUES (3, 1, 2, 1, CAST(N'2025-11-19T09:30:00.0000000' AS DateTime2), NULL, NULL, CAST(N'2025-11-18T15:37:29.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[MH_Cita_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_DetalleFactura_TB] ON 

INSERT [dbo].[MH_DetalleFactura_TB] ([IdDetalleFactura], [IdFactura], [IdProducto], [IdServicio], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 2, 2, NULL, N'Shampoo para perro 500 ml', 1, CAST(8500.00 AS Decimal(10, 2)), CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[MH_DetalleFactura_TB] ([IdDetalleFactura], [IdFactura], [IdProducto], [IdServicio], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 3, 2, NULL, N'Shampoo para perro 500 ml', 1, CAST(8500.00 AS Decimal(10, 2)), CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[MH_DetalleFactura_TB] ([IdDetalleFactura], [IdFactura], [IdProducto], [IdServicio], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 4, 4, NULL, N'Cepillo doble para perro y gato', 1, CAST(6500.00 AS Decimal(10, 2)), CAST(6500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MH_DetalleFactura_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Direccion_TB] ON 

INSERT [dbo].[MH_Direccion_TB] ([IdDireccion], [IdDistrito], [Detalle], [CodigoPostal]) VALUES (1, 1, N'Calle Berlay, Desamparados, San Jose', NULL)
INSERT [dbo].[MH_Direccion_TB] ([IdDireccion], [IdDistrito], [Detalle], [CodigoPostal]) VALUES (2, 1, N'Calle Berlay, Desamparados, San Jose', N'10301')
SET IDENTITY_INSERT [dbo].[MH_Direccion_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Distrito_TB] ON 

INSERT [dbo].[MH_Distrito_TB] ([IdDistrito], [IdCanton], [NombreDistrito]) VALUES (1, 1, N'Carmen')
INSERT [dbo].[MH_Distrito_TB] ([IdDistrito], [IdCanton], [NombreDistrito]) VALUES (2, 1, N'Merced')
INSERT [dbo].[MH_Distrito_TB] ([IdDistrito], [IdCanton], [NombreDistrito]) VALUES (3, 1, N'Hospital')
SET IDENTITY_INSERT [dbo].[MH_Distrito_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Especie_TB] ON 

INSERT [dbo].[MH_Especie_TB] ([IdEspecie], [NombreEspecie]) VALUES (1, N'Perro')
INSERT [dbo].[MH_Especie_TB] ([IdEspecie], [NombreEspecie]) VALUES (2, N'Gato')
INSERT [dbo].[MH_Especie_TB] ([IdEspecie], [NombreEspecie]) VALUES (3, N'Ave')
SET IDENTITY_INSERT [dbo].[MH_Especie_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Estado_TB] ON 

INSERT [dbo].[MH_Estado_TB] ([IdEstado], [NombreEstado], [TipoEntidad], [Descripcion], [Activo]) VALUES (1, N'Activo', N'GLOBAL', N'Registro activo', 1)
INSERT [dbo].[MH_Estado_TB] ([IdEstado], [NombreEstado], [TipoEntidad], [Descripcion], [Activo]) VALUES (2, N'Inactivo', N'GLOBAL', N'Registro inactivo', 1)
INSERT [dbo].[MH_Estado_TB] ([IdEstado], [NombreEstado], [TipoEntidad], [Descripcion], [Activo]) VALUES (3, N'Pendiente', N'CITA', N'Cita registrada pendiente de confirmación', 1)
SET IDENTITY_INSERT [dbo].[MH_Estado_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Factura_TB] ON 

INSERT [dbo].[MH_Factura_TB] ([IdFactura], [IdUsuario], [FechaFactura], [IdEstado], [MetodoPago], [NumeroReferencia], [MontoTotal], [Observaciones]) VALUES (2, 2, CAST(N'2025-11-18T15:16:44.0000000' AS DateTime2), 1, N'En linea', N'100', CAST(8500.00 AS Decimal(10, 2)), N'Recojo en tienda')
INSERT [dbo].[MH_Factura_TB] ([IdFactura], [IdUsuario], [FechaFactura], [IdEstado], [MetodoPago], [NumeroReferencia], [MontoTotal], [Observaciones]) VALUES (3, 2, CAST(N'2025-11-18T15:21:33.0000000' AS DateTime2), 1, N'En linea', N'100', CAST(8500.00 AS Decimal(10, 2)), N'asd')
INSERT [dbo].[MH_Factura_TB] ([IdFactura], [IdUsuario], [FechaFactura], [IdEstado], [MetodoPago], [NumeroReferencia], [MontoTotal], [Observaciones]) VALUES (4, 2, CAST(N'2025-11-18T15:31:51.0000000' AS DateTime2), 1, N'En linea', N'100', CAST(6500.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[MH_Factura_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Mascotas_TB] ON 

INSERT [dbo].[MH_Mascotas_TB] ([IdMascota], [IdUsuario], [IdEspecie], [IdRaza], [NombreMascota], [FechaNacimiento], [Observaciones], [Activo]) VALUES (1, 2, 1, 3, N'Mandy', CAST(N'2015-08-18' AS Date), N'Alergica', 1)
INSERT [dbo].[MH_Mascotas_TB] ([IdMascota], [IdUsuario], [IdEspecie], [IdRaza], [NombreMascota], [FechaNacimiento], [Observaciones], [Activo]) VALUES (2, 1, 1, 3, N'Mandy', CAST(N'2015-08-18' AS Date), N'Alergica', 1)
INSERT [dbo].[MH_Mascotas_TB] ([IdMascota], [IdUsuario], [IdEspecie], [IdRaza], [NombreMascota], [FechaNacimiento], [Observaciones], [Activo]) VALUES (3, 3, 1, 2, N'Dasha', CAST(N'2020-02-15' AS Date), N'Hembra', 1)
SET IDENTITY_INSERT [dbo].[MH_Mascotas_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Productos_TB] ON 

INSERT [dbo].[MH_Productos_TB] ([IdProducto], [IdProveedor], [NombreProducto], [Descripcion], [Categoria], [PrecioUnitario], [StockActual], [IdEstado], [ImagenUrl], [Activo]) VALUES (2, 1, N'Shampoo para perro 500 ml', N'Shampoo neutro para perros de pelo corto y piel sensible.', N'Higiene', CAST(8500.00 AS Decimal(10, 2)), 16, 1, N'/Content/img/productos/shampoo-perro.jpg', 1)
INSERT [dbo].[MH_Productos_TB] ([IdProducto], [IdProveedor], [NombreProducto], [Descripcion], [Categoria], [PrecioUnitario], [StockActual], [IdEstado], [ImagenUrl], [Activo]) VALUES (3, 1, N'Shampoo para gato 300 ml', N'Shampoo suave sin lágrimas, especial para gatos de interior.', N'Higiene', CAST(7900.00 AS Decimal(10, 2)), 20, 1, N'/Content/img/productos/shampoo-gato.jpg', 1)
INSERT [dbo].[MH_Productos_TB] ([IdProducto], [IdProveedor], [NombreProducto], [Descripcion], [Categoria], [PrecioUnitario], [StockActual], [IdEstado], [ImagenUrl], [Activo]) VALUES (4, 1, N'Cepillo doble para perro y gato', N'Cepillo con cerdas metálicas y suaves, ideal para deshacer nudos.', N'Accesorios', CAST(6500.00 AS Decimal(10, 2)), 29, 1, N'/Content/img/productos/cepillo-doble.jpg', 1)
SET IDENTITY_INSERT [dbo].[MH_Productos_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Proveedor_TB] ON 

INSERT [dbo].[MH_Proveedor_TB] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Observaciones], [Activo]) VALUES (1, N'PetCare Distribuidores S.A.', N'2250-3388', N'contacto@petcarecr.com', N'Proveedor especializado en productos de higiene y salud animal.', 1)
INSERT [dbo].[MH_Proveedor_TB] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Observaciones], [Activo]) VALUES (2, N'Animalia Importaciones', N'2288-5522', N'ventas@animalia.cr', N'Suplementos, camas y accesorios premium.', 1)
INSERT [dbo].[MH_Proveedor_TB] ([IdProveedor], [NombreProveedor], [Telefono], [Correo], [Observaciones], [Activo]) VALUES (3, N'Distribuidora VetPlus CR', N'4035-1100', N'info@vetpluscr.com', N'Proveedor autorizado de insumos veterinarios.', 1)
SET IDENTITY_INSERT [dbo].[MH_Proveedor_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Provincia_TB] ON 

INSERT [dbo].[MH_Provincia_TB] ([IdProvincia], [NombreProvincia]) VALUES (1, N'San José')
INSERT [dbo].[MH_Provincia_TB] ([IdProvincia], [NombreProvincia]) VALUES (2, N'Alajuela')
INSERT [dbo].[MH_Provincia_TB] ([IdProvincia], [NombreProvincia]) VALUES (3, N'Cartago')
SET IDENTITY_INSERT [dbo].[MH_Provincia_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Raza_TB] ON 

INSERT [dbo].[MH_Raza_TB] ([IdRaza], [IdEspecie], [NombreRaza]) VALUES (1, 1, N'Labrador Retriever')
INSERT [dbo].[MH_Raza_TB] ([IdRaza], [IdEspecie], [NombreRaza]) VALUES (2, 1, N'Golden Retriever')
INSERT [dbo].[MH_Raza_TB] ([IdRaza], [IdEspecie], [NombreRaza]) VALUES (3, 1, N'Poodle')
SET IDENTITY_INSERT [dbo].[MH_Raza_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Servicios_Cita_TB] ON 

INSERT [dbo].[MH_Servicios_Cita_TB] ([IdServicioCita], [IdCita], [IdServicio], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 2, 1, CAST(11000.00 AS Decimal(10, 2)), CAST(11000.00 AS Decimal(10, 2)))
INSERT [dbo].[MH_Servicios_Cita_TB] ([IdServicioCita], [IdCita], [IdServicio], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 2, 1, 1, CAST(8000.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)))
INSERT [dbo].[MH_Servicios_Cita_TB] ([IdServicioCita], [IdCita], [IdServicio], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 3, 3, 1, CAST(15000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MH_Servicios_Cita_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Servicios_TB] ON 

INSERT [dbo].[MH_Servicios_TB] ([IdServicio], [NombreServicio], [Descripcion], [Categoria], [Precio], [DuracionMin], [Activo]) VALUES (1, N'Baño básico', N'Baño con shampoo neutro, secado y cepillado ligero.', N'Grooming', CAST(8000.00 AS Decimal(10, 2)), 45, 1)
INSERT [dbo].[MH_Servicios_TB] ([IdServicio], [NombreServicio], [Descripcion], [Categoria], [Precio], [DuracionMin], [Activo]) VALUES (2, N'Baño medicado', N'Baño con shampoo especial para piel sensible o tratamientos dermatológicos.', N'Grooming', CAST(11000.00 AS Decimal(10, 2)), 60, 1)
INSERT [dbo].[MH_Servicios_TB] ([IdServicio], [NombreServicio], [Descripcion], [Categoria], [Precio], [DuracionMin], [Activo]) VALUES (3, N'Corte de pelo completo', N'Corte de pelo según la raza, incluye baño básico.', N'Grooming', CAST(15000.00 AS Decimal(10, 2)), 90, 1)
SET IDENTITY_INSERT [dbo].[MH_Servicios_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Tipo_Usuario_TB] ON 

INSERT [dbo].[MH_Tipo_Usuario_TB] ([IdTipoUsuario], [NombreTipoUsuario], [Descripcion], [Activo]) VALUES (1, N'Cliente', N'Cliente estándar del sistema', 1)
INSERT [dbo].[MH_Tipo_Usuario_TB] ([IdTipoUsuario], [NombreTipoUsuario], [Descripcion], [Activo]) VALUES (2, N'Administrador', N'Acceso administrativo completo', 1)
INSERT [dbo].[MH_Tipo_Usuario_TB] ([IdTipoUsuario], [NombreTipoUsuario], [Descripcion], [Activo]) VALUES (3, N'Empleado', N'Colaborador interno de la veterinaria', 1)
SET IDENTITY_INSERT [dbo].[MH_Tipo_Usuario_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[MH_Usuario_TB] ON 

INSERT [dbo].[MH_Usuario_TB] ([IdUsuario], [IdTipoUsuario], [IdDireccion], [NombreCompleto], [Correo], [ContrasennaHash], [Telefono], [FechaRegistro], [Activo]) VALUES (1, 1, 2, N'Alex Navarro', N'alex@mail.com', N'1c142b2d01aa34e9a36bde480645a57fd69e14155dacfab5a3f9257b77fdc8d8', N'60948878', CAST(N'2025-11-18T11:12:04.0000000' AS DateTime2), 1)
INSERT [dbo].[MH_Usuario_TB] ([IdUsuario], [IdTipoUsuario], [IdDireccion], [NombreCompleto], [Correo], [ContrasennaHash], [Telefono], [FechaRegistro], [Activo]) VALUES (2, 2, 1, N'Alexander Navarro Quesada', N'lex.anq@gmail.com', N'25f43b1486ad95a1398e3eeb3d83bc4010015fcc9bedb35b432e00298d5021f7', N'60948877', CAST(N'2025-11-18T11:12:04.0000000' AS DateTime2), 1)
INSERT [dbo].[MH_Usuario_TB] ([IdUsuario], [IdTipoUsuario], [IdDireccion], [NombreCompleto], [Correo], [ContrasennaHash], [Telefono], [FechaRegistro], [Activo]) VALUES (3, 1, NULL, N'Lari Navarrete', N'lari@ufide.cr', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'60009876', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[MH_Usuario_TB] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [ContrasenaHash], [Rol]) VALUES (1, N'Alex Navarro', N'alex@mail.com', N'25f43b1486ad95a1398e3eeb3d83bc4010015fcc9bedb35b432e00298d5021f7', N'Cliente')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [ContrasenaHash], [Rol]) VALUES (2, N'Alexander Navarro Quesada', N'lex.anq@gmail.com', N'1e2e0a6fe8ea82ccec6c9d079d6a95e7066fee451697baf8260cc3d90e78d8bc', N'Cliente')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MH_Usuario_Correo]    Script Date: 12/16/2025 6:59:24 PM ******/
ALTER TABLE [dbo].[MH_Usuario_TB] ADD  CONSTRAINT [UQ_MH_Usuario_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MH_Cita_TB] ADD  CONSTRAINT [DF_MH_Cita_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB] ADD  CONSTRAINT [DF_MH_Detalle_Cantidad]  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[MH_Estado_TB] ADD  CONSTRAINT [DF_MH_Estado_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Factura_TB] ADD  CONSTRAINT [DF_MH_Factura_Fecha]  DEFAULT (sysdatetime()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[MH_Mascotas_TB] ADD  CONSTRAINT [DF_MH_Mascotas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Productos_TB] ADD  CONSTRAINT [DF_MH_Productos_Stock]  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[MH_Productos_TB] ADD  CONSTRAINT [DF_MH_Productos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Proveedor_TB] ADD  CONSTRAINT [DF_MH_Proveedor_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Servicios_Cita_TB] ADD  CONSTRAINT [DF_MH_Servicios_Cita_Cantidad]  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[MH_Servicios_TB] ADD  CONSTRAINT [DF_MH_Servicios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Tipo_Usuario_TB] ADD  CONSTRAINT [DF_MH_Tipo_Usuario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Usuario_TB] ADD  CONSTRAINT [DF_MH_Usuario_FechaReg]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MH_Usuario_TB] ADD  CONSTRAINT [DF_MH_Usuario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MH_Canton_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Canton_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[MH_Provincia_TB] ([IdProvincia])
GO
ALTER TABLE [dbo].[MH_Canton_TB] CHECK CONSTRAINT [FK_MH_Canton_Provincia]
GO
ALTER TABLE [dbo].[MH_Cita_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Cita_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[MH_Estado_TB] ([IdEstado])
GO
ALTER TABLE [dbo].[MH_Cita_TB] CHECK CONSTRAINT [FK_MH_Cita_Estado]
GO
ALTER TABLE [dbo].[MH_Cita_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Cita_Mascota] FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MH_Mascotas_TB] ([IdMascota])
GO
ALTER TABLE [dbo].[MH_Cita_TB] CHECK CONSTRAINT [FK_MH_Cita_Mascota]
GO
ALTER TABLE [dbo].[MH_Cita_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Cita_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[MH_Usuario_TB] ([IdUsuario])
GO
ALTER TABLE [dbo].[MH_Cita_TB] CHECK CONSTRAINT [FK_MH_Cita_Usuario]
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_DetalleFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[MH_Factura_TB] ([IdFactura])
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB] CHECK CONSTRAINT [FK_MH_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_DetalleFactura_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[MH_Productos_TB] ([IdProducto])
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB] CHECK CONSTRAINT [FK_MH_DetalleFactura_Producto]
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_DetalleFactura_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[MH_Servicios_TB] ([IdServicio])
GO
ALTER TABLE [dbo].[MH_DetalleFactura_TB] CHECK CONSTRAINT [FK_MH_DetalleFactura_Servicio]
GO
ALTER TABLE [dbo].[MH_Direccion_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Direccion_Distrito] FOREIGN KEY([IdDistrito])
REFERENCES [dbo].[MH_Distrito_TB] ([IdDistrito])
GO
ALTER TABLE [dbo].[MH_Direccion_TB] CHECK CONSTRAINT [FK_MH_Direccion_Distrito]
GO
ALTER TABLE [dbo].[MH_Distrito_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Distrito_Canton] FOREIGN KEY([IdCanton])
REFERENCES [dbo].[MH_Canton_TB] ([IdCanton])
GO
ALTER TABLE [dbo].[MH_Distrito_TB] CHECK CONSTRAINT [FK_MH_Distrito_Canton]
GO
ALTER TABLE [dbo].[MH_Factura_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Factura_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[MH_Estado_TB] ([IdEstado])
GO
ALTER TABLE [dbo].[MH_Factura_TB] CHECK CONSTRAINT [FK_MH_Factura_Estado]
GO
ALTER TABLE [dbo].[MH_Factura_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Factura_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[MH_Usuario_TB] ([IdUsuario])
GO
ALTER TABLE [dbo].[MH_Factura_TB] CHECK CONSTRAINT [FK_MH_Factura_Usuario]
GO
ALTER TABLE [dbo].[MH_Mascotas_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Mascotas_Especie] FOREIGN KEY([IdEspecie])
REFERENCES [dbo].[MH_Especie_TB] ([IdEspecie])
GO
ALTER TABLE [dbo].[MH_Mascotas_TB] CHECK CONSTRAINT [FK_MH_Mascotas_Especie]
GO
ALTER TABLE [dbo].[MH_Mascotas_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Mascotas_Raza] FOREIGN KEY([IdRaza])
REFERENCES [dbo].[MH_Raza_TB] ([IdRaza])
GO
ALTER TABLE [dbo].[MH_Mascotas_TB] CHECK CONSTRAINT [FK_MH_Mascotas_Raza]
GO
ALTER TABLE [dbo].[MH_Mascotas_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Mascotas_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[MH_Usuario_TB] ([IdUsuario])
GO
ALTER TABLE [dbo].[MH_Mascotas_TB] CHECK CONSTRAINT [FK_MH_Mascotas_Usuario]
GO
ALTER TABLE [dbo].[MH_Productos_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Productos_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[MH_Estado_TB] ([IdEstado])
GO
ALTER TABLE [dbo].[MH_Productos_TB] CHECK CONSTRAINT [FK_MH_Productos_Estado]
GO
ALTER TABLE [dbo].[MH_Productos_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Productos_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[MH_Proveedor_TB] ([IdProveedor])
GO
ALTER TABLE [dbo].[MH_Productos_TB] CHECK CONSTRAINT [FK_MH_Productos_Proveedor]
GO
ALTER TABLE [dbo].[MH_Raza_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Raza_Especie] FOREIGN KEY([IdEspecie])
REFERENCES [dbo].[MH_Especie_TB] ([IdEspecie])
GO
ALTER TABLE [dbo].[MH_Raza_TB] CHECK CONSTRAINT [FK_MH_Raza_Especie]
GO
ALTER TABLE [dbo].[MH_Servicios_Cita_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Servicios_Cita_Cita] FOREIGN KEY([IdCita])
REFERENCES [dbo].[MH_Cita_TB] ([IdCita])
GO
ALTER TABLE [dbo].[MH_Servicios_Cita_TB] CHECK CONSTRAINT [FK_MH_Servicios_Cita_Cita]
GO
ALTER TABLE [dbo].[MH_Servicios_Cita_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Servicios_Cita_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[MH_Servicios_TB] ([IdServicio])
GO
ALTER TABLE [dbo].[MH_Servicios_Cita_TB] CHECK CONSTRAINT [FK_MH_Servicios_Cita_Servicio]
GO
ALTER TABLE [dbo].[MH_Usuario_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Usuario_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[MH_Direccion_TB] ([IdDireccion])
GO
ALTER TABLE [dbo].[MH_Usuario_TB] CHECK CONSTRAINT [FK_MH_Usuario_Direccion]
GO
ALTER TABLE [dbo].[MH_Usuario_TB]  WITH CHECK ADD  CONSTRAINT [FK_MH_Usuario_TipoUsuario] FOREIGN KEY([IdTipoUsuario])
REFERENCES [dbo].[MH_Tipo_Usuario_TB] ([IdTipoUsuario])
GO
ALTER TABLE [dbo].[MH_Usuario_TB] CHECK CONSTRAINT [FK_MH_Usuario_TipoUsuario]
GO
USE [master]
GO
